body {
    background-color: #eeeeee;
    font-family: "Montserra", sans-serif;
    letter-spacing: 1.5px;
    color: #444;
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
}

main {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

h1, h2 {
    color: rgb(140, 76, 8);
    letter-spacing: 1.5px;
}

section h2 {
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: solid 1px grey;
}

#cont {
    border-top: none;
    padding: 0 0;
}

#Perfil {
    border-top: none;
}