body {
    background-color: #eeeeee;
    font-family: "Montserra", sans-serif;
    letter-spacing: 1.5px;
    color: #444;
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;

}

main {
    background-color: white;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}
table {
    border-radius: 5px;
    border: 2px solid #444;
    font-family: "Montserra", sans-serif;
    font-size: 15px;
    box-sizing: content-box;
    width: 100%;
}

thead {
    background-color: #c8c8c8;
    color: rgb(144, 83, 17);
}

th, td {
    border: 2px solid #d4d3d3;
    padding: 10px 10px;
}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
}

#fragmento h2 {
    border-top: none;
    border-collapse: collapse;
}

#back {
    border-top: none;
    font-family: "Montserra", sans-serif;
    font-size: 15px;
    box-sizing: content-box;
}
#perfil {
    color: rgb(140, 76, 8);
    letter-spacing: 1.5px;
    border-top: none;
}
p {
    font-family: "Montserra", sans-serif;
    letter-spacing: 1.5px;
    color: #444;
}
h2 {
    color: rgb(140, 76, 8);
    letter-spacing: 1.5px;
    font-family: "Montserra", sans-serif;
}